autocommand
blinker
certifi
charset-normalizer
cheroot
CherryPy
click
colorama
contourpy
cycler
distlib
exceptiongroup
filelock
Flask
Flask-Cors
fonttools
gunicorn
idna
inflect
iniconfig
itsdangerous
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
more-itertools
nltk
numpy
packaging
pandas
Pillow
platformdirs
pluggy
portend
pydantic
pyparsing
pytest
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
sklearn
tabulate
tempora
threadpoolctl
tomli
tqdm
typing_extensions
tzdata
urllib3
virtualenv
waitress
Werkzeug
z3-solver
zc.lockfile
